<div id="vvm-state">
<img class="logoi" src="/assets/logo.png">
<br>
<div class="intro">armctf is a project that provides downloadable vulnerable virtual machines, rebuilt from amd64 to arm64. it's for users to practice ctf challenges on arm-based systems.

vulnerable machines are sourced from vulnhub, hackmyvm and vulnyx. that's why full credit goes to the original creators.

for extended information and contributing, please read <a href="https://github.com/armctf/armctf/blob/main/README.md" target="_blank">readme</a>.</div><br><br><br>
<div class="cinfo"><a href="https://github.com/armctf/armctf" target="_blank">github</a>—<a href="changelog.txt" target="_blank">changelog</a>—<a href="LICENSE" target="_blank">license</a>—<a href="contact.html" target="_blank">contact</a></div>
<br>
<hr>
</div>
<a href="#" class="bttop">⬆️ back to top</a>